<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are a list of car dealers that we work with:</h2>
    <ul>
      <% dealers.forEach(function(dealer) { %>
        <li><%=dealer.Name%> <%=dealer.Contact%>, <%=dealer.Location%></li>
      <% }) %>
    </ul>

    <footer class="footer">
        <div class="footer-content">
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
            <p class="footer-text">© 2025 Car Inventory System - Powered by Spinning Cars!</p>
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
        </div>
    </footer>
    </body>
</html>