<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>Here are the all the users:</h2>
    <ul>
      <% availableUsers.forEach(function(user) { %>
        <li><%= user.Username %>, <%=user.FirstName%>, <%=user.LastName%>, <%=user.Email%> </li>
      <% }) %>
      <li>
    <button><a href="/index" class="home-btn"> Home</a></button>
      </li>
    </ul>

    <footer class="footer">
        <div class="footer-content">
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
            <p class="footer-text">© 2025 Car Inventory System - Powered by Spinning Cars!</p>
            <img src="/images/spinning-car.gif" alt="Spinning Car" class="spinning-car">
        </div>
    </footer>
    </body>
</html>